/*General Styles*/
.jumbotron{
padding-right:66px;
padding-left:66px;
margin-left:auto;
margin-right:auto;
}
/*Overriden styles*/
.jumbotron p{
	font-size:12pt;
}
.fs-header{
    background-color: #2E593E;
    color:white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: center;
	font: normal 16px sans-serif;
}
.fs-nav{
font-size:20pt;
background-color:#2E593E;
}
.fs-nav a{
color:white;
}
.fs-nav ul li a:hover{
background:orange;
}
.fs-nav ul li a:active, .fs-nav ul li a:focus{
background:orange;
}
/*Nav*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
background:orange;
}
.dropdown-menu{
  width:100%;
 
  background-color:#2E593E;
}
.dropdown-menu>li>a{
   color:white;
}
.dropdown-menu>li>a:hover{
   color:white;
}


.footer-basic-centered{
	background-color: #2E593E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/*Main page*/

.centerBit{
width:50%;
min-height:250px;
margin-left:auto;
margin-right:auto;
border:5px solid green;
border-radius:20px;
padding:20px;
box-shadow: 10px red;
}
.motto{
text-align:center;
}

/*Testimonials*/
.testimonials li:nth-child(odd){
	font-size: 14pt;
	padding:20px 0px 0px 0px;
	list-style-type:none;
}
.testimonials li:nth-child(even){
	list-style-type:none;
}

/*About us*/
    .cpic{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
	padding:15px;
	padding-left:30px;
	padding-bottom:30px;
    }
    .epic{
   -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
	padding:15px;
	padding-right:50px;
    }
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

 .nav-justified .open .dropdown-menu {
    position: relative;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-justified .open .dropdown-menu > li > a,
  .nav-justified .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
    font-size:20pt;
  }
  .nav-justified .open .dropdown-menu > li > a {
      width:100%;
      text-align:center;
      background: white;
    line-height: 20px;
    color:green;
  }

  .nav-justified .open .dropdown-menu > li > a:hover,
  .nav-justified .open .dropdown-menu > li > a:focus {
    background-image: none;
  }

	.footer-basic-centered{
		padding: 35px;
	}
	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
    .fs-header{
        padding:05px;
    }
    /*Main Page*/
    .centerBit{
        width:80%;
    }

}